<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>The</string>
		<key>start</key>
		<real>0.361</real>
		<key>stop</key>
		<real>0.483</real>
	</dict>
	<dict>
		<key>word</key>
		<string>Quick</string>
		<key>start</key>
		<real>0.524</real>
		<key>stop</key>
		<real>0.734</real>
	</dict>
	<dict>
		<key>word</key>
		<string>Brown</string>
		<key>start</key>
		<real>0.953</real>
		<key>stop</key>
		<real>1.354</real>
	</dict>
	<dict>
		<key>word</key>
		<string>Fox</string>
		<key>start</key>
		<real>1.425</real>
		<key>stop</key>
		<real>2.013</real>
	</dict>
	<dict>
		<key>word</key>
		<string>Jumped</string>
		<key>start</key>
		<real>2.061</real>
		<key>stop</key>
		<real>2.602</real>
	</dict>
	<dict>
		<key>word</key>
		<string>Over</string>
		<key>start</key>
		<real>2.611</real>
		<key>stop</key>
		<real>3.183</real>
	</dict>
	<dict>
		<key>word</key>
		<string>The</string>
		<key>start</key>
		<real>3.203</real>
		<key>stop</key>
		<real>3.56</real>
	</dict>
	<dict>
		<key>word</key>
		<string>Box.</string>
		<key>start</key>
		<real>3.714</real>
		<key>stop</key>
		<real>4.391</real>
	</dict>
</array>
</plist>
